<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <a href="/">HOME</a><br>
<a href="/flights/new">ADD FLIGHT</a><br>
<a href="/flights">ALL FLIGHTS</a><br>
<a href="/destinations/new">Add Destination</a><br>
</body>
</html>
